.room1 {
  background: rgba(79, 123, 190, 1);
  border-style: solid;
  border-color: rgba(62, 84, 165, 1);
  border-width: 0px;
  opacity: 0.49;
  position: absolute;
  left: 643px;
  top: 317px;
  width: 119px;
  height: 76px;
  border-radius: 7px;
  box-shadow: 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
}

.room2{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 315px;
	top : 80px;
	width : 191px;
	height : 72px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}

.room3{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 85px;
	top : 365px;
	width : 87px;
	height : 69px;
	border-radius : 7px;
	-moz-border-radius : 7px;
	-webkit-border-radius : 7px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}


.room4{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 85px;
	top : 130px;
	width : 91px;
	height : 76px;
	border-radius : 12px;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}

.room5{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 675px;
	top : 438px;
	width : 60px;
	height : 37px;
	border-radius : 3px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.room6{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 648px;
	top : 140px;
	width : 125px;
	height : 123px;
	border-radius : 12px;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.room7{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.49;
	position : absolute ;
	left : 316px;
	top : 366px;
	width : 191px;
	height : 72px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}