.path1{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 280px;
	top : 70px;
	width : 446px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}

.path2{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 710px;
	top : 70px;
	width : 15px;
	height : 95px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path3{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 627px;
	top : 150px;
	width : 100px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path4{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 710px;
	top : 150px;
	width : 15px;
	height : 114px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}

.path5{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 590px;
	top : 250px;
	width : 135px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;


}
.path6{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 590px;
	top : 250px;
	width : 15px;
	height : 75px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.path7{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 590px;
	top : 311px;
	width : 25px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.path8{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 590px;
	top : 311px;
	width : 15px;
	height : 138px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}


.path9{
     background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 320px;
	top : 450px;
	width : 285px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;


}
.path10{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 320px;
	top : 450px;
	width : 15px;
	height : 115px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;


}
.path11{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 320px;
	top : 420px;
	width : 15px;
	height : 45px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;


}

.path12{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 208px;
	top : 420px;
	width : 128px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;


}

.path13{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left :130px;
	top : 355px;
	width : 95px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path14{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left :90px;
	top : 355px;
	width : 55px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path15{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 208px;
	top : 355px;
	width : 15px;
	height : 80px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path16{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 208px;
	top : 198px;
	width : 15px;
	height : 170px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path17{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 157px;
	top : 198px;
	width : 67px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}

.path18{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 157px;
	top : 123px;
	width : 15px;
	height : 90px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path19{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 157px;
	top : 123px;
	width : 139px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;

}
.path20{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 280px;
	top : 70px;
	width : 15px;
	height : 68px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.path21{
    background : #4F7BBE;
	background : rgba(79, 123, 190, 1);
	border-style : Solid;
	border-color : #3E54A5;
	border-color : rgba(62, 84, 165, 1);
	border-width : 0px;
	opacity : 0.30;
	position : absolute ;
	left : 250px;
	top : 70px;
	width : 45px;
	height : 15px;
	border-radius : 14px;
	-moz-border-radius : 14px;
	-webkit-border-radius : 14px;
	box-shadow : 0px 2.83px 2.83px rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2.83, Color='#000000') ;
}
.finish {
  position: absolute;
  width: 24px;
  height: 24px;
  background: url('https://cdn-icons-png.flaticon.com/512/684/684908.png') no-repeat center center;
  background-size: contain;
  pointer-events: none;
  z-index: 500;
}
